@import url("https://fonts.googleapis.com/css?family=Work+Sans:200");
.about {
  font-family: "Work Sans", sans-serif;
  margin-top: 35%;
  margin-bottom: 5%;
  font-size: 36px;
}

.me {
  height: 400px;
  float: left;
  margin-left: 100px;
}

.mesub {
  color: #4169E1;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 3%;
  
}

.mesub-container {
  margin-bottom: 2%;
}

.mesub2 {
  text-align: left;
  margin-right: 20px;
  margin-left: 40px;
}

.mesub3 {
  text-align: left;
  margin-right: 50px;
}

.mesub4 {
  color: #4169E1;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}

.aboutcontainer {
  background-color: #F8F8F8;
  height: 600px;
  margin-bottom: 5%;
}

.linkedin {
  padding-right: 2%;
  color: #4169E1;
}

.githublink {
  color: #4169E1;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}