.work-wrapper {
  margin-bottom: 65%;
}

.card {
  margin-left: 8%;
  position: absolute;
  top: 800px;
}

@import url("https://fonts.googleapis.com/css?family=Work+Sans:200");
.sub-trip {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}

.sub-desc {
  position: relative;
  top: -10px;
  font-size: 15px;
}

.store {
  top: 800px;
  margin-left: 37%;
}

.job {
  position: absolute;
  top: 800px;
  margin-left: 66%;
}

.pup {
  position: absolute;
  top: 1150px;
}

.date {
  position: absolute;
  top: 1150px;
  margin-left: 37%;
}

.hang {
  position: absolute;
  top: 1150px;
  margin-left: 66%;
}

.demo {
  margin-left: 70px;
  margin-right: 10px;
}
