@import url("https://fonts.googleapis.com/css?family=Work+Sans:200");
.about {
  font-family: "Work Sans", sans-serif;
  margin-top: 30%;
  margin-bottom: 5%;
  font-size: 36px;
}

.me {
  height: 400px;
  float: left;
  margin-left: 100px;
}

.mesub {
  color: #008B8B;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 5%;
  
}

.mesub2 {
  text-align: left;
  margin-right: 20px;
  margin-left: 40px;
}

.mesub3 {
  text-align: left;
  margin-right: 50px;
}

.aboutcontainer {
  background-color: #F8F8F8;
  height: 600px;
  margin-bottom: 5%;
}